.projects {
  display: flex;
}

.project-portfolio {
  background-color: transparent;
}

.portfolio-app {
  margin: 3%;
  max-width: 500px;
  max-height: 280px;
  margin: 10px 25px;
}

.portfolio-app:hover,
.portfolio-app:focus {
  border-radius: 5px;
  border: 1px dashed  rgb(213, 169, 255);
  padding: 5px;
}


.project-link-icon {
  background-color: rgb(14, 8, 8);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
}

.icon {
  font-size: 14px;
  cursor: pointer;
}

.portfolio-content {
  font-family: "Inter", sans-serif;
  padding: 7px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.portfolio-content h4 {
  font-size: 1.1rem;
  font-weight: 600;
  height: 20%;
}

.portfolio-content p {
  height: 40%;
}

.portfolio-languages {
  height: 52px;
  overflow: hidden;
}

.portfolio-content p,
.portfolio-languages ul li {
  font-size: 0.7rem;
}

.portfolio-languages ul {
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}

.portfolio-languages ul li {
  border: 1px solid rgb(31, 23, 23);
  background-color: rgb(28, 22, 22);
  padding: 5px;
  border-radius: 5px;
}